html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


header{
    width: 100vw;
    height: 100vh;

}
nav{
    width: 100%;
    height: 80px;
    background: #444444;
}
.btn_hamburguer{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
}
.btn_hamburguer button{
    background: transparent;
    padding: .2rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 9px;
    rotate: 90deg;
    
    color: #fff;
}
.btn_hamburguer:hover button{
color: #000;
font-weight: bold;
cursor: pointer;
}
.menu-hamburguer {
  background: #222222;
  width: 400px;
  height: 600px;
  color: aliceblue;
  border-radius: 90px 0 90px 0;
  position: absolute;
  top: 0px;
  right: -400px;
  transition: right 0.4s ease-in-out;
}

/* Quando mostrar, só muda o right */
.menu-hamburguer.show {
  right: 0;
}


.menu-list{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    text-align: center;
    font-size: 1.5rem;
}
ul{
    padding: 0;
    margin-top: 3rem;
}
li{
    text-decoration: none;
    list-style: none;
    padding: .5rem 0 .5rem 0 ;
}